.login {
    /* display: flex; */
    box-shadow: 5px 5px 5px 5px;
    color: rgb(26, 99, 194);
    
    /* align-items: center; */
    border-radius: 5px;
}


.tituloLogin {
    margin: 5px 135px;
}
.card-content-area {    
    
    margin: 15px 60px;
}    
.card-footer {
    margin: 5px 30px;
}    

main {
    display: flex;
    justify-content: center;
}
                 
