header {
    display: flex;
    justify-content: space-around;
    color: blue;
    margin: 40px 5px 10px 5px;
    background: white;
}
h1 a {
    margin: 0px 0px 0px 200px;
}
#botaoLogin {
    background: rgb(255, 255, 255);
    /* border-radius: 10px; */


/* width: 30px; */
/* height: 15px; */
}
input[type="submit"] {
    background: #8f0c0c;
    color: rgb(240, 230, 230);
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"]:hover {
    background: #8f0c0c;
    color: rgb(8, 15, 6);
}
input[type="button"] {
    background: rgb(255, 0, 0);
    color: rgb(240, 230, 230);
    cursor: pointer;
    border-radius: 10px;
}
input[type="button"]:hover {
    background: #4ee640;
    color: rgb(8, 15, 6);
}
.cadastre {
    padding: 5px 50px 5px 370px;
    color: rgb(3, 3, 3);
}
h2 :hover {
    text-decoration: underline;
}

.titulo {
    /* padding-left:200px ; */
    
    /* background: white; */
    /* color: blue; */
    right: 10px;
    margin:  10px 410px 
}
.imagem {
    
    height: 100px;
    margin: 0px 0px;
}
.imagens-inicio {
    /* background: #a5a331; */
    padding-left: 80px;
    /* display: flex; */
    word-spacing: 80px;
    /* flex-direction: row; */
}

.imagem-inicio {
    
    max-height: 200px;
    width: 300px;
    height: 200px;
    margin: 20px;
}
body {
    font-family: Helvetica, sans-serif;
    background: white;
}

input[type="submit"] {
    background: rgb(12, 163, 218);
    color: white;
    cursor: pointer;
    margin: 20px 10px 10px 15px;
    width: 250px;
    height: 25px;
}
input[type="submit"]:hover {
    color: #000000;
    background: #159abb;
}
input[type="submit"]:focus {
    color: #000000;
    background: #157f9a;
}
a input[type="button"] {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 15px;
    width: 50px;
    height: 30px;
}
a input[type="button"]:hover {
    color: #000000;
    background: #ec6b4b;
}

#wrap {
    box-shadow: 5px 5px 5px 5px;
    color: rgb(26, 99, 194);
    border-radius: 10px;
    width: 1000px;
    margin: 0px 200px 0px 440px;
    /* background: linear-gradient(rgb(166, 200, 251), rgb(243, 176, 105)); */
}
div ol img {
    margin: 20px 0px;
}

/* .main { */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #cf2828;
} */

.visualiza-semana {
    display: grid;
    grid: 1fr / repeat(8, 1px);
    grid-column-gap: 80px;
    margin: 30px;
}

.dia-semana {
    display: flex;
    grid-row-gap: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.entrada {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    margin: 15px;
    background-color: beige;
    border-color: rgb(7, 6, 6);
}
.enviar {
    background-color: rgb(255, 0, 0);
    border-color: rgb(7, 6, 6);
    margin: 5px;
    padding: 5px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.info {
    padding: 10px;
}

.periodo {
    margin: 8px;
    background-color: rgb(52, 27, 217);
    opacity: 0.7;
    cursor: pointer;
}
.serviços {
    width: 600px;    
    display: flex;
    flex-direction: row;
}
.serviço {
    margin: 8px;
    background-color: rgb(12, 163, 218);
    opacity: 0.7;
}
.button {
    border-color: rgb(7, 7, 7);
    background-color: rgb(99, 108, 228);
}
.imagemServico {
    margin: 5px;
    height: 80px;
    width: 600px;
    border-radius: 5px;
}
h3 {
    
    margin: 10px 250px;
    word-spacing: 30px;
    padding: 20px;
}
form ul {
    padding: 5px 10px 5px 100px;
    /* display: flex; */
}
footer {
    background: #b87dc7;
}

.visualiza-serviço {
    display: grid;
    grid: 10fr / repeat(8, 5px);
    grid-column-gap: 80px;
    margin: 30px;
}

.serviço {
    padding: 5px;
    margin: 10px;
    background-color: rgb(12, 163, 218);
    width: 80px;
    cursor: pointer;
}
.columns {
    display: flex;
    flex-direction: column;
}

#resposta-ocorrencias {
    -ms-grid-column-align: start;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 5px 5px 5px;
    background-color: whitesmoke;
    cursor: pointer;
}
